<% include layout/_head %>
<% include layout/_header %>
            <!-- start contents -->
            <div class="main_visual">
                <div class="main_visual_inner">
                    <img src="http://placehold.it/980x520" height="520" width="980" alt="">
                </div>
            </div>

            <!-- start contents -->
            <div class="contents">
                <div class="contents_inner">
                    <div class="main"></div>
                    <aside class="side"></aside>
                </div>
            </div>
            <!-- end contents -->

<% include layout/_footer %>
<% include layout/_script %>