            <footer class="footer">
                <div class="footer-inner">
                    <small>copyright</small>
                </div>
            </footer>
        </div>
        <!-- end wrapper -->