.header{
    width: 100%;
}
.header_inner{
    width: $size_max; //setting.scssに記述
    height: 80px;
    margin: 0 auto;
    background: #eee;
    padding: 10px;
    @extend %clearfix;
}
.header_logo{
    float: left;
    width: 200px;
    height: 60px;
    background: #fff;
}
.header_module{
    float: right;
    width: 150px;
    height: 60px;
    background: #fff;
    margin-left: 10px;
}