.header {
    width: 100%;
    &-inner {
        width: $size_max;
        height: 80px;
        margin: 0 auto;
        background: #eee;
        padding: 10px;
        @extend %clearfix;
    }
    &-logo {
        float: left;
        width: 200px;
        height: 60px;
        background: #fff;
    }
    &-module {
        float: right;
        width: 150px;
        height: 60px;
        background: #fff;
        margin-left: 10px;
    }
}