.footer{
    width: 100%;
}
.footer_inner{
    width: $size_max; //setting.scssに記述
    height: 80px;
    margin: 0 auto;
    background: #eee;
    text-align: center;
    >small{
        display: inline-block;
        height: 80px;
        line-height: 80px;
    }
}